{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}
{% include "vectorFormas.html" %}
<main class="bg-body-l-w">
    <form class="login-form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h1 class="titleLogin">Login</h1>

        <div class="input-group ig1">
            <label for="id_user"><b>Usuário</b></label>
            <div class="input-container">
                {{ form.user }}
            </div>
        </div>

        <div class="input-group ig2">
            <label for="id_password"><b>Senha</b></label>
            <div class="input-container">
                {{ form.password }}

            </div>
        </div>

        <button type="submit" class="btn-login">Entrar</button>

        
    </form>
</main>
{% endblock %}
