
.body-homepage {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);    
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.cabecalho-welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
    color: var(--text-color);   
    flex-wrap: wrap; /* Responsivo */
    max-width: 1250px; /* Defina uma largura máxima */
    margin: 0 auto; /* Centraliza a div horizontalmente */
    position: relative; /* Para garantir que ela fique no fluxo do documento */
}

.conteudo-cabecalho {
    max-width: 50%;
}

.conteudo-cabecalho h1{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 52px
}

.conteudo-cabecalho p{
    font-size: 32px;
}

.cabecalho h1 {
    font-size: 40px;
    margin-bottom:30px;
}


.destaque {
    font-size: 52px;
    color: #B01818;
}

.cabecalho p {
    font-size: 15px;
    margin-bottom: 20px;

}

.botao-cadastro {
    padding: 12px 30px;
    background-color: #B01818;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    transition: background-color 0.3s ease;
    width: 291px;
    height: 60px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.botao-cadastro:hover {
    background-color: #781010;
}

.box{
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .cabecalho-welcome {
        flex-direction: column; /* Empilha as divs verticalmente */
        align-items: center;
        padding: 30px 20px;
    }

    .conteudo-cabecalho {
        max-width: 100%;
        text-align: center;
        padding: 40px;
    }

    .box {
        margin: 20px; /* Adiciona espaço entre a box e o conteúdo acima */
        margin-top: 100px;
    }
}

/* Seção de Serviços */
.servicos {
    background-color: var(--bg-color);
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 90px;
}

.servicos h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--text-color);   
}

.container-servicos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.container-servicos .material-symbols-outlined {
    margin-right: 0px;
}

.cartao-servico {
    background-color: white;
    padding: 20px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.s ease;
}

.cartao-servico:hover{
    transform: translateY(-5px);
    transition: box-shadow 0.s ease;
}

.cartao-servico .material-symbols-outlined {
    font-size: 48px;
    color: #B01818;
    margin-bottom: 15px;
}

.cartao-servico h3 {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #333;
}

.cartao-servico p {
    font-size: 0.9rem;
    color: #666;
}

.div-cartao{
    width: 210px;
    height: 199px;
}

.button-view{
    margin-top: 20px;
    font-size: 25px;
    color: #B01818;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Seção de Salas */
.salas-section{
    padding: 40px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.salas {
    padding: 40px 20px;
    background-color: #ffffff;
}

.salas h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-color);       
}

.grid-salas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 10px;
}

.cartao-sala {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.cartao-sala:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.cartao-sala img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.cartao-sala p {
    font-size: 1rem;
    font-weight: bold;
}

/* --------------------------------------------------- */
/* Estilo Geral para a Seção */
.Salas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Salas-text{
    font-size: 30px;
}

.Salas-text p:first-child {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #000;
}

.Salas-text p:nth-child(2) {
    font-size: 40px;
    color: rgba(43, 43, 43, 1);
}

.Salas-text p:last-child {
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}

/* Estilo para os Botões */
.botoes-salas {
    display: flex;
    gap: 15px;
}

.botao-sala {
    width: 60px;
    height: 58px;
    background-color: #B01818;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.botao-sala:hover {
    opacity: 0.8;
}

.botao-sala .material-symbols-outlined {
    font-size: 28px;
    color: #E8EAED;
    margin-right: 0px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;
    padding-left: 170px;
    max-width: 1900px;
    margin: 0 auto;
}

/* Cartão de cada item */
.item-card-w {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    transition: transform 0.3s ease;
    margin-bottom: 140px;
    margin-right: 100px;
}

.item-card-w:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/* Container da imagem */
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: 190px;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: inherit;
}

/* Badge */
.badge {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #B01818;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 12px;
}

/* Informações do item */
.item-info {
    padding: 15px;
    text-align: left;
}

.item-info h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);   
    margin-bottom: 5px;
}

.item-info p {
    font-size: 14px;
    color: var(--text-color);   
    margin: 2px 0;
}
/* Ajustar número de colunas em telas menores */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .cabecalho h1 {
        font-size: 36px; /* Diminuir o tamanho do título */
    }

    .cabecalho p {
        font-size: 14px; /* Diminuir o tamanho do texto */
    }

    .botao-cadastro {
        font-size: 24px; /* Diminuir o tamanho do botão */
        width: auto; /* Ajustar largura do botão */
    }
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .cabecalho h1 {
        font-size: 28px; /* Diminuir ainda mais o título */
    }

    .cabecalho p {
        font-size: 12px; /* Diminuir ainda mais o texto */
    }

    .botao-cadastro {
        font-size: 20px; /* Diminuir o tamanho do botão */
        padding: 10px 20px; /* Ajustar padding */
    }

    .box {
        width: 100%; /* Ajustar largura da box */
        height: auto; /* Ajustar altura da box */

    }
}

/* Ajustar largura da imagem no header em telas menores */
@media (max-width: 400px) {
    .conteudo-cabecalho {
        max-width: 100%; /* Ajuste para telas menores */
        text-align: center;
        flex-direction: column; /* Flex para empilhar verticalmente */
        
    }
    
    .cabecalho-welcome {
        flex-direction: column; /* Empilhar conteúdo verticalmente */
        padding: 30px 20px;
        text-align: center; 
        display: flex;

    }

    .image-container img {
        max-width: 100%; /* Ajustar a imagem para ocupar 100% da largura disponível */
        height: auto; /* Manter a proporção da imagem */
    }

    .item-card {
        max-width: 100%; 
        text-align: center;
    }

    .grid-container {
        align-items: center; /* Centralizar itens */
        justify-content: center; /* Centralizar itens */
    }

    .servicos {
        flex-direction: column; /* Empilhar serviços verticalmente */
        text-align: center; /* Centralizar texto dos serviços */
    }

    .cartao-servico {
        width: 100%; /* Ajustar o cartão de serviço para 100% */
        margin: 10px 0; /* Espaçamento entre os cartões */
    }

    .botoes-salas {
        flex-direction: column; /* Empilhar botões verticalmente */
        gap: 10px; /* Ajustar espaço entre bmt otões */
        text-align: center;
    }

    .botao-sala {
        width: 50px; /* Ajustar largura do botão */
        height: 50px; /* Ajustar altura do botão */
    }

}
@media (max-width: 480px) {
    .titleHomepage {
        text-align: center;
        flex-wrap: wrap;
    }

    .image-container img {
        max-width: 100%; /* Garante que a imagem não ultrapasse o container */
        height: auto; /* Mantém a proporção da imagem */
        display: block; /* Remove possíveis espaços indesejados */
        margin: 0 auto; /* Centraliza a imagem */
    }
}
@media (max-width: 375px) {
    .cartao-servico {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        box-sizing: border-box;
        display: flex; /* Ativa o flexbox */
        justify-content: center; /* Centraliza o texto horizontalmente */
        align-items: center; /* Centraliza o texto verticalmente */
        text-align: center; /* Garante que o texto seja alinhado no centro */
    }
}